/* line 1, ../compass/sass/style.scss */
html, body {
  margin: 0;
  height: 99%;
  overflow: auto;
  
}

/* line 6, ../compass/sass/style.scss */
.w3-container {
  
}

/* line 12, ../compass/sass/style.scss */
ul {
  list-style-type: none;
}

/* line 15, ../compass/sass/style.scss */
h1 {
  text-align: center;
  font-size: 48px;
}

/* line 19, ../compass/sass/style.scss */
h4 {
  font-size: 12px;
}

/* line 22, ../compass/sass/style.scss */
.movie {
  text-align: center;
}

/* line 25, ../compass/sass/style.scss */
.movie-content {
  padding-top: 200px;
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
}

/* line 32, ../compass/sass/style.scss */
.cards {
  height: 60px;
}

/* line 35, ../compass/sass/style.scss */
.movie-images {
  box-shadow: 1px 1px 6px black;
}

/* line 46, ../compass/sass/style.scss */
.movie-input {
  position: relative;
}

/* line 51, ../compass/sass/style.scss */
.selections {
  position: absolute;
  top: 14%;
  right: 2%;
  width: 100px;
  box-shadow: 1px 1px 5px black;
}

/* line 59, ../compass/sass/style.scss */
.nav-bar {
  text-align: center;
}
